//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap";

$smallFontSize: 0.75rem;
$menuFontSize: 1rem;
$baseFontSize: 1.25rem;
$titleFontSize: 2rem;
$nameFontSize: 1.37rem;
$titleLineHeight: 1.86rem;
$baseFontFamily: "Josefin Sans", sans-serif;
$boldFontWeight: 600;
$regularFontWeight: 300;

// padding
$mobilePadding: 0.75rem;
$tablePadding: 2.5rem;
$desktopPadding: 1rem;

// Paths

$imagesPath: "../i/";
$svgPath: "../svg/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$gold: #a27e66;
$grey: #f2f2f2;
