html {
  font-size: $baseFontSize;
}

body {
  height: 100%;
  font-family: $baseFontFamily;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  flex: 1, 1, auto;
}
