.menu-button {
  display: inline-block;
  transition: 0.3s ease-in-out;
  width: 30px;
  height: 20px;
  position: relative;
  margin: 15px 0 15px 5px;
}
.menu-button.in-mobile {
  position: absolute;
  top: 2rem;
  right: 1rem;
}
.menu-button span {
  position: absolute;
  height: 4px;
  border-radius: 10px;
  width: 100%;
  background-color: $gold;
  top: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2),
.menu-button span:nth-child(3) {
  top: 10px;
}

.menu-button span:nth-child(4) {
  top: 20px;
}

.menu-button.active span:nth-child(1),
.menu-button.active span:nth-child(4) {
  opacity: 0;
}

.menu-button.active span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-button.active span:nth-child(3) {
  transform: rotate(-45deg);
}

/*-----End menu-button--------*/

.white-overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99998;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.6);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.white-overlay.visible {
  opacity: 1;
  visibility: visible;
}

/*-----End overlay--------*/

.mobile-menu {
  background-color: #fff;
  padding: 6rem 0 2rem;
  position: fixed;
  width: 15rem;
  top: 0;
  left: -100%;
  transition: left 0.3s;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}

.mobile-menu.visible {
  left: 0;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mobile-navigation a {
  display: block;
  padding: 0.7rem;
  color: $gold;
  text-decoration: none;
  transition: all 0.3s;
}

.mobile-navigation a.active {
  background-color: rgba(0, 0, 0, 0.8);
}

.mobile-navigation li {
  position: relative;
}

/* 1st level. */
.mobile-navigation > ul > li > a {
  font-weight: bold;
}

/* Lower levels. */
.mobile-navigation li ul {
  padding-left: 2rem;
  display: none;
}

/* Drop-down arrows. */
.mobile-navigation li.has-submenu:after {
  content: "";
  position: absolute;
  top: 1.6rem;
  width: 0;
  height: 0;
}

.mobile-navigation li.has-submenu:after {
  right: 1rem;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
}
.mobile-navigation li:last-of-type.has-submenu:after {
  right: 1rem;
  border-left: none;
  border-right: none;
  border-top: 5px solid rgba(0, 0, 0, 0.25);
}

.mobile-navigation li.has-submenu.opened:after {
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
  border-top: none;
}

.logo-box {
  display: none;
}

.nav-box {
  width: 40%;
}

.nav-desktop {
  display: none;
}

@media screen and (min-width: 998px) {
  .white-overlay {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu-button {
    display: none;
  }

  .logo-box {
    display: block;
    height: 50%;
    margin-bottom: 15px;
    text-align: center;

    &__logo {
      height: 100%;
      cursor: pointer;
    }
  }

  .menu {
    display: block;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    position: relative;
  }

  /* 1st level. */
  .menu > ul > li {
    display: inline-block;
  }

  .menu > ul > li > a {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: $menuFontSize;
    font-weight: $boldFontWeight;
    margin-left: 0;
  }
  /* 2nd level. */
  .menu li ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 15rem;
    padding: 1.5rem 0;
    background: white;
    transition: all 200ms ease;
    z-index: 10000;
    border-radius: 5px;
  }

  .menu li:hover > ul {
    opacity: 1;
    visibility: visible;
  }

  .menu li ul a {
    display: block;
    padding: 0.5rem 1.5rem;
    list-style-type: none;
  }

  /* Drop-down arrows. */
  .menu > ul > li.has-submenu:after,
  .menu li ul li.has-submenu:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
  }

  /* 1st level arrows. */
  .menu > ul > li.has-submenu:after {
    right: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.25);
  }

  .menu > ul > li:last-of-type.has-submenu:after {
    right: 5px;
    border-left: none;
    border-right: none;
    border-top: 5px solid rgba(0, 0, 0, 0.25);
  }

  /* 2nd level arrows. */
  .menu li ul li.has-submenu:after {
    right: 1.5rem;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0, 0, 0, 0.25);
  }

  .nav-desktop {
    display: inline-block;
    width: 20%;
  }
}
